html{
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}


body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1ch 10ch;
   }

ul{
    display: contents;
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: contents;
    list-style: none;
    padding: 0;
    margin: 0;
   }

   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80%  3% 200);
   }

   nav a {
    flex: 1;
    text-decoration: none;
    color:inherit;
    text-align: center ;
    padding: 0.5em;
   }

   a.current{
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    color: inherit;
    padding-bottom: 0.4em;
   }

   a:hover{
    color: var(--color-accent);
    border-bottom: 0.4em solid var(--color-accent);
   }

   form {
    font:inherit;
    display: grid;
    grid-template-columns: auto 1fr;
   }

   /* label, input, texstarea, button {
    display: block;
    margin-bottom: 1em;
   }

   label {
    margin-block:1em ;
   }

   input, textarea{
    width: 100%;
    box-sizing: border-box;
    font: inherit;
   } */

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  gap: 1em;
}


.projects img{
  max-width: 100%;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1em; /* or 'gap: 1em;' for shorthand */

}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

h2{
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
  text-wrap: balance;
}